.oneImage {
  margin-bottom: 10px;
}

.rightArrow{
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #000000;
}

.leftArrow{
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #000000;
}