.column {
  flex: 20%;
  max-width: 20%;
  padding: 0 2px;
}
.column img {
  margin-top: 4px;
  vertical-align: middle;
  width: 100%;
}

.column img:hover {
  opacity: 0.4;
  
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }

  .column img:hover {
    opacity: 1;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
