.faqContainer {
  width: 65% !important;
  margin: 0 auto !important;
  margin-bottom: 20px;
}

.antCollapse {
  background-color: #f7f7f7 !important;
  border-radius: 8px !important;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1) !important;
  font-weight: 600;
}

.antCollapseItem {
  border: none !important;
}

.ant-collapse-header {
  font-size: 18px !important;
  font-weight: bold !important;
  color: #333;
  background-color: #fff;
  border-radius: 8px;
  border: none !important;
}

.ant-collapse-content {
  background-color: #fff;
  border-radius: 8px;
  border: none !important;
}

.ant-collapse-content-box {
  padding: 20px;
  font-size: 16px;
  color: #666;
}
